<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
    <link href="/static/css/login.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<body>
    <div class="menu">
        <a class="btn" href="/singup/">Регистрация</a>
    </div>
    <div class="loginCenter">
        <div class="loginStyle">
            <form action="\login\" method="post">
                {% csrf_token %}
                <div class="LoginH">
                    <h3>Вход в аккаунт</h3>
                </div>
                <div class="questionLogin">
                    Логин:
                    <p style="margin-top: 2px;"><input name="Login" type="text" required></p>
                </div>
                <div class="questionLogin">
                    Пароль:
                    <p style="margin-top: 2px;"><input name="Password" type="password" required></p>
                </div>
                <div class="buttonSendDiv">
                    <input type="submit" value="Вход" class="buttonSend">
                </div>
                
            </form>
        </div>
    </div>
</body>
</html>